
.parent-container {
    border: 1px solid lightgray;
    height: 560px;
    width: 320px;
    margin: auto;
    margin-top: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    height: 200px;
    width: 270px;
    border: 1px solid #ff5441f5;
    border-radius: 6px;
    box-shadow: 5px 5px 15px  lightgrey;
    margin: auto;
    margin-top: 150px;
    text-align: center;
}

.h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #ff5441f5;
}

.text-field {
    border: 2px solid #ff5441f5;
    width: 200px;
    height: 32px;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 1px 3px 5px  lightgrey;
}

.button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ff5441f5;
    color: white;
    font-weight: 700;
    margin: auto;
    border: 0px solid #ff5441f5;
    border-radius: 28px;
    width: 100px;
    height: 40px;
}

.link {
    position: absolute;
    right: 50px;
    bottom: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    font-size: 20px;
}